{% extends 'base.html' %}


{% block title %}About{% endblock title %}

{% block content %}
<div class="about_container">
<h1>About the Developer</h1>
<img class="about_img" src="/static/img/IMG_1975.jpeg" alt="">

    <p class="about_p">
        My name is Patrick Ryan. I am a developer with a background in the music industry. I like to go surfing and skiing in my free time as well as taking my dogs on hikes! I am a new developer focusing on Full Stack programming.
    </p>

</div>


{% endblock content %}